---
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro";
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";

const { entry } = Astro.props;
---

<TopLayout narrow="md">
  <div class="animate">
    <ArticleTopLayout entry={entry} />
  </div>
</TopLayout>
<BottomLayout narrow="md">
  <ArticleBottomLayout entry={entry} />
</BottomLayout>
