---
import Container from "@components/Container.astro";
---

<div class="pt-24 pb-5">
  <Container size="5xl">
    <slot />
  </Container>
</div>
<div class="animate w-full mx-auto px-5 max-w-5xl">
  <hr class="mt-3 mb-6 border-black/20 dark:border-white/20" />
</div>
